<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caimuhao.architecture.lib_common">


  <uses-permission android:name="android.permission.INTERNET"/>

  <application>
    <meta-data
        android:name="com.caimuhao.architecture.lib_common.base.BaseApplication"
        android:value="LibCommon"/>
  </application>

</manifest>
